@page
@model SjonnieLoper.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <select asp-for="productAddedID"
            asp-items="@(new SelectList(Model.RegisteredWhiskeyTypes, "Value", "Text"))">
    </select>
    <input type="hidden" asp-for="@Model.Whiskey.WhiskeyId">
    <label asp-for="Whiskey.Name"></label>
    <select asp-for="productAddedID"
            asp-items="@(new SelectList(Model.RegisteredWhiskeys, "Value", "Text"))">
    </select>
    <div class="form-group">
        <label asp-for="@Model.Reservation.Id"></label>
        <input asp-for="@Model.Reservation.Id" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-outline-primary">Confirm</button>
</form>