@page
@model SjonnieLoper.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Whiskey</h1>

<div class="form-group col-md-8">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Whiskey.Id">
        <div class="form-group">
            @Html.LabelFor(x => Model.WhiskeyType)
            @Html.DropDownListFor(x => Model.inputModel.productTypeId,
                                       new SelectList(Model.RegisteredWhiskeyTypes, "Value", "Text"),
                                                      htmlAttributes: new { @class = "form-control" })
            <em><label asp-for="@Model.inputModel.NewWhiskeyType"></label></em>
            <input asp-for="@Model.inputModel.NewWhiskeyType" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.inputModel.NewWhiskeyType"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Whiskey.Name"></label>
            <input asp-for="@Model.Whiskey.Name" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Whiskey.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Whiskey.Origin"></label>
            <input asp-for="@Model.Whiskey.Origin" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Whiskey.Origin"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Whiskey.AlcoholPercentage"></label>
            <input asp-for="@Model.Whiskey.AlcoholPercentage" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Whiskey.AlcoholPercentage"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Whiskey.Age"></label>
            <input asp-for="@Model.Whiskey.Age" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Whiskey.Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Whiskey.ImagePath"></label>
            <input type="file" asp-for="ImageUpload" class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Confirm</button>
    </form>
</div>