@page "{productId:int}"
@model SjonnieLoper.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h1>@Model.Whiskey.Name</h1>

<fieldset>
    <legend>
        @Html.DisplayNameForModel()
    </legend>
</fieldset>
@*<div>
    Origin: @Model.Whiskey.Origin
</div>
<div>
    Product: @Model.Reservation.Whiskey.Name
</div>
<div>
    Date of order: @Model.Reservation.Orderdate
</div>*@
<div class="container">
    <div class="row">
        <div class="col">
            <dl>
                <dt class="card-subtitle">@Html.LabelFor(m => m.Whiskey.Id)</dt>
                <dd class="card-text">@Html.ValueFor(m => m.Whiskey.Id)</dd>
                <dt class="card-header">@Html.LabelFor(m => m.Whiskey.Name)</dt>
                <dd class="card-">@Html.ValueFor(m => m.Whiskey.Name)</dd>
                <dt class="modal-header">@Html.LabelFor(m => m.Whiskey.WhiskeyType.Name)</dt>
                <dd>@Html.ValueFor(m => m.Whiskey.WhiskeyType.Name)</dd>
                <dt class="card-title">@Html.LabelFor(m => m.Whiskey.Origin)</dt>
                <dd>@Html.ValueFor(m => m.Whiskey.Origin)</dd>
                <dt >@Html.LabelFor(m => m.Whiskey.AlcoholPercentage)</dt>
                <dd>@Html.ValueFor(m => m.Whiskey.AlcoholPercentage)</dd>
                <dt>@Html.LabelFor(m => m.Whiskey.Age)</dt>
                <dd>@Html.ValueFor(m => m.Whiskey.Age)</dd>
                <dt>@Html.LabelFor(m => m.Whiskey.ImagePath)</dt>
                <dd>@Html.ValueFor(m => m.Whiskey.ImagePath)</dd>
            </dl>
        </div>
        <div class="col">
            <img width="400" src="@Html.ValueFor(m => m.Whiskey.ImagePath)" />
        </div>
    </div>
</div>

<a class="btn btn-outline-primary"
   asp-page="/Products/EditWhiskey
   "
   asp-route-reservationId="@Model.Whiskey.Id">
    Edit
    <i class="arrow"></i>
</a>
<a asp-page="ListWhiskey" class="btn btn-outline-primary">All whiskeys</a>