@page "{productId:int}"
@model SjonnieLoper.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h1>@Model.Whiskey.Name</h1>

<fieldset>
    <legend>
        @Html.DisplayNameForModel()
    </legend>
</fieldset>
@*<div>
    Origin: @Model.Whiskey.Origin
</div>
<div>
    Product: @Model.Reservation.Whiskey.Name
</div>
<div>
    Date of order: @Model.Reservation.Orderdate
</div>*@
<a class="btn btn-outline-primary"
   asp-page="/Products/Edit"
   asp-route-reservationId="@Model.Whiskey.Id">
    Edit
    <i class="arrow"></i>
</a>
<a asp-page="List" class="btn btn-outline-primary">All whiskeys</a>