@page "{productId:int?}"
@model SjonnieLoper.Pages.Reservations.CreateModel

@{
    ViewData["Title"] = "Create Reservation";
}

<h1>Create reservation for @User.Identity.Name</h1>

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="@Model.Reservation.Id">
        <label asp-for="@Model.Reservation.Product.Name"></label>
        <span>@Model.Reservation.Product.Name</span>

        <label asp-for="@Model.Reservation.Amount"></label>
        <input asp-for="@Model.Reservation.Amount" class="form-control" />
        <span class="text-danger" asp-validation-for="Reservation.Amount"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary">Confirm</button>
</form>