@page "{reservationId:int}"
@*@model SjonnieLoper.Pages.Reservations.CreateModel*@
@model SjonnieLoper.Pages.Reservations.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Edit order #@Model.Reservation.Id</h1>

<form method="post">
    <input type="hidden" asp-for="@Model.Reservation.Id">
        <label asp-for="@Model.RegisteredWhiskeys"></label>
           <select asp-for="productAddedID"
                   asp-items="@(new SelectList(Model.RegisteredWhiskeys, "Value", "Text"))">
           </select>
    <div class="form-group">
        <label asp-for="@Model.Reservation.Id"></label>
        <input asp-for="@Model.Reservation.Id" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-outline-primary">Confirm</button>
</form>