@page
@model SjonnieLoper.Pages.Reservations.ListModel
@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchValue">
            <span class="input-group-btn">
                <select asp-for="ProductType" asp-items="Model.ResTypes">
                    <option value="">All</option>
                </select>
                <button class="btn btn-danger">
                    <i class="btn-outline-info"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach (var order in Model.RetrievedReservations)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.ClientName</td>
            <td>@order.Whiskey.Name</td>
            <td>@order.Orderdate</td>
            <td>
                <a class="btn btn-primary"
                   asp-page="/Reservations/Details"
                   asp-route-reservationId="@order.Id">
                    <i class="arrow"></i>
                </a>
            </td>

        </tr>
    }
</table>

<a asp-page="Reservations/Create" class="btn btn-outline-primary">
    Add reservation
</a>